<div cg-busy="{promise:orders.myPromise, message:''}" class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">

                <div class="panel-heading clearfix">

                    <div class="row">

                      <div class="col-xs-6">
                        <h3 class="panel-title pull-left"><i class="fa fa-1x fa-list"></i> Order Management</h3>
                      </div>

                      <div class="col-xs-6">
                        <div style="float:right; margin-left: 5px;">
                          <div class="btn-group input-group" dropdown>
                              <button type="button" class="btn btn-primary dropdown-toggle" ng-class="{ 'btn-danger' : Lform.filterByCompanyName.$invalid, 'btn-danger' : !!orders.filterByCompanyName }" dropdown-toggle ng-disabled="orders.allCompanies.length === 0">
                                  {{orders.filterByCompanyName === undefined ? 'Filter By Company' : orders.filterByCompanyName }} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">

                                  <li >
                                    <a href ng-click="orders.filterByCompanyName=''; orders.filterBy()">
                                      Remove Filter
                                    </a>
                                  </li>
                                  <li role="presentation" class="divider"></li>

                                  <li ng-repeat="(key, value) in orders.allCompanies">
                                      <a href ng-click="orders.filterByCompanyName=key; orders.filterBy()">
                                        {{value[0].cryptoCerts.companyName}}
                                      </a>
                                  </li>
                              </ul>
                              <input
                                type="hidden"
                                name="filterByCompanyName"
                                ng-model="orders.filterByCompanyName"
                              >
                          </div>
                        </div>
                        <div style="float:right; margin-left: 5px;">
                          <div class="btn-group input-group" dropdown>
                              <button type="button" class="btn btn-primary dropdown-toggle" ng-class="{ 'btn-danger' : Lform.filterByCreator.$invalid, 'btn-danger' : !!orders.filterByCreator }" dropdown-toggle ng-disabled="orders.allCreators.length === 0">
                                  {{orders.filterByCreator === undefined ? 'Filter By User' : orders.filterByCreator }} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">

                                  <li >
                                    <a href ng-click="orders.filterByCreator=''; orders.filterBy()">
                                      Remove Filter
                                    </a>
                                  </li>
                                  <li role="presentation" class="divider"></li>

                                  <li ng-repeat="(key, value) in orders.allCreators">
                                      <a href ng-click="orders.filterByCreator=key; orders.filterBy()">
                                        {{value[0].dsi.userID}}
                                      </a>
                                  </li>
                              </ul>
                              <input
                                type="hidden"
                                name="filterByCreator"
                                ng-model="orders.filterByCreator"
                              >
                          </div>
                        </div>
                        <div style="float:right; margin-left: 5px;">

                          <div class="btn-group input-group" dropdown>
                              <button type="button" class="btn btn-primary dropdown-toggle" ng-class="{ 'btn-danger' : Lform.filterByDsiId.$invalid, 'btn-danger' : !!orders.filterByDsiId }" dropdown-toggle ng-disabled="orders.dsids.length === 0">
                                  {{orders.filterByDsiId === undefined ? 'Filter By DSI' : orders.filterByDsiId.substring(0, 8) }} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">

                                  <li >
                                    <a href ng-click="orders.filterByDsiId=''; orders.filterBy()">
                                      Remove Filter
                                    </a>
                                  </li>
                                  <li role="presentation" class="divider"></li>

                                  <li ng-repeat="(key, value) in orders.dsiids">

                                      <a href ng-click="orders.filterByDsiId=key; orders.filterBy()">
                                        <span class="label label-default">{{value[0].designName}}</span> <span class="badge label-default">DSI</span> {{key}}
                                      </a>
                                  </li>
                              </ul>
                              <input
                                type="hidden"
                                name="filterByDsiId"
                                ng-model="orders.filterByDsiId"
                              >
                          </div>
                        </div>

                      </div>

                    </div>



                </div>

                <div class="panel-body">

                    <br/>

                    <div ng-if="orders.noneFound" class="alert alert-danger" role="alert">
                        <p>No orders found.</p>
                    </div>

                    <table ng-if="orders.orders.length > 0" fixed-table-headers class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th><i class="fa fa-1x" ng-class="{ 'fa-sort-numeric-asc': orders.sortBy === 'orderId' }"></i> <a ui-sref=".({sortBy: 'orderId' })">ORDER</a></th>
                                <th>DESIGN</th>
                                <th>DESCRIPTION</th>
                                <th><i class="fa fa-1x" ng-class="{ 'fa-sort-alpha-asc': orders.sortBy === 'userID' }"></i> <a ui-sref=".({sortBy: 'userID' })">USER ID</a></th>
                                <th><i class="fa fa-1x" ng-class="{ 'fa-sort-alpha-asc': orders.sortBy === 'companyName' }"></i> <a ui-sref=".({sortBy: 'companyName' })">COMPANY</a></th>
                                <th>ORDERED</th>
                                <th>AUTHORIZED</th>
                                <th><i class="fa fa-1x" ng-class="{ 'fa-sort-amount-asc': orders.sortBy === 'dateCreated' }"></i> <a ui-sref=".({sortBy: 'dateCreated' })">DATE CREATED</a></th>
                                <!-- <th>STATUS</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat-start="order in orders.orders">
                                <td>
                                  <button ng-show="!orders.authorizationSections[order.orderId]" ng-click="orders.authorizationSections[order.orderId] = true" type="button" class="btn btn-sm btn-primary">+</button>
                                  <button ng-show="orders.authorizationSections[order.orderId] === true" ng-click="orders.authorizationSections[order.orderId] = false" type="button" class="btn btn-sm btn-primary">-</button>
                                </td>
                                <td>{{order.orderId}}</td>
                                <td>
                                  {{order.dsi.designName}}
                                </td>
                                <td>
                                  {{order.dsi.description}}
                                </td>
                                <td>{{order.dsi.userID}}</td>
                                <td>{{order.cryptoCerts.companyName}}</td>
                                <td>{{order.quantity !== null ? order.quantity : ''}}</td>
                                <td>{{order.quantityAuthorized !== null ? order.quantityAuthorized : ''}}</td>
                                <td>{{order.dateCreated | date:'medium' }}</td>
                                <!-- <td>
                                  <span ng-if="order.status === 'New'" class="label label-default">{{order.status}}</span>
                                  <span ng-if="order.status === 'Idle'" class="label label-primary">{{order.status}}</span>
                                  <span ng-if="order.status === 'Awaiting Manufacturing'" class="label label-primary">{{order.status}}</span>
                                  <span ng-if="order.status === 'Finished'" class="label label-success">{{order.status}}</span>
                                  <span ng-if="order.status === 'Expired'" class="label label-warning">{{order.status}}</span>
                                  <span ng-if="order.status === 'Cancelled'" class="label label-danger">{{order.status}}</span>
                                </td>
                              -->
                                <!-- <td>
                                  <button ng-show="order.status !== 'Cancelled'" ui-sref=".assign({orderNumber: order.orderNumber})" type="button" class="btn btn-sm btn-primary">Assign</button>
                                  <button ng-click="orders.archiveJob(order.designId)" type="button" class="btn btn-sm btn-default">Archive</button>
                                  <button ui-sref=".viewReport({orderNumber: order.orderNumber})"  type="button" class="btn btn-sm btn-default">View Reports</button>
                                </td> -->
                                <td>
                                  <!-- <button ui-sref=".?({orderNumber: order.orderId})" type="button" class="btn btn-sm btn-primary">Authorize</button> -->
                                  <!-- <button  type="button" class="btn btn-sm btn-default">ID Info</button> -->


                                  <!-- <button ui-sref=".?({orderNumber: order.orderId})"  type="button" class="btn btn-sm btn-default">ID Info</button> -->


                                  <div class="btn-group input-group" dropdown>
                                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle>
                                          Action <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">

                                        <li ng-show="order.status !== 'Cancelled'">
                                          <a ui-sref=".assign({orderNumber: order.orderId})">Authorize</i></a>
                                        </li>

                                        <li ng-show="order.status !== 'Cancelled'" role="presentation" class="divider"></li>

                                        <li >
                                          <a ui-sref=".viewIDInfo({orderNumber: order.orderId, authNumber: order.authorizationId})">ID Info</i></a>
                                        </li>

                                        <li >
                                          <a href="{{order.damUrl}}Designs/{{order.dsi.dsiid}}.dsi" download>DAM <i class="fa fa-download"></i></a>
                                        </li>

                                      </ul>

                                  </div>


                                </td>
                              </tr>
                              <tr ng-show="orders.authorizationSections[order.orderId] === true" ng-repeat-end>
                                <td colspan="2">
                                </td>
                                <td colspan="7">

                                  <div ng-if="!orders.groupedAuthorizations[order.orderId]" class="alert alert-warning" role="alert">
                                      <p>No authorizations found for Order #{{order.orderId}}.</p>
                                  </div>

                                  <table ng-if="orders.groupedAuthorizations[order.orderId].length > 0" fixed-table-headers class="table table-bordered table-striped">
                                      <thead>
                                          <tr>
                                              <th>AUTHORIZATION #</th>
                                              <th>LICENSEE</th>
                                              <th># AUTHORIZED</th>
                                              <th>DATE CREATED</th>
                                              <!-- <th>STATUS</th> -->
                                              <th>ACTION</th>
                                          </tr>
                                      </thead>
                                      <tbody>

                                          <tr ng-repeat="order in orders.groupedAuthorizations[order.orderId]">
                                              <td>{{order.authorizationId}}</td>
                                              <td>
                                                {{order.cryptoCerts.companyName}}
                                                <!-- {{order.cryptoCerts.publicKeySN}} -->
                                                <!-- {{order.cryptoCerts.keyRoleSN}} -->
                                              </td>
                                              <td>{{order.quantity ? order.quantity : '0'}}</td>
                                              <td>{{order.dateCreated | date:'medium' }}</td>
                                              <!-- <td>
                                                <span ng-if="order.status === 'New'" class="label label-default">{{order.status}}</span>
                                                <span ng-if="order.status === 'Idle'" class="label label-primary">{{order.status}}</span>
                                                <span ng-if="order.status === 'Awaiting Manufacturing'" class="label label-primary">{{order.status}}</span>
                                                <span ng-if="order.status === 'Finished'" class="label label-success">{{order.status}}</span>
                                                <span ng-if="order.status === 'Expired'" class="label label-warning">{{order.status}}</span>
                                                <span ng-if="order.status === 'Cancelled'" class="label label-danger">{{order.status}}</span>
                                              </td>
                                            -->
                                              <!-- <td>
                                                <button ng-show="order.status !== 'Cancelled'" ui-sref=".assign({orderNumber: order.orderNumber})" type="button" class="btn btn-sm btn-primary">Assign</button>
                                                <button ng-click="orders.archiveJob(order.designId)" type="button" class="btn btn-sm btn-default">Archive</button>
                                                <button ui-sref=".viewReport({orderNumber: order.orderNumber})"  type="button" class="btn btn-sm btn-default">View Reports</button>
                                              </td> -->
                                              <td>
                                                <!-- <button ui-sref=".?({orderNumber: order.orderId})" type="button" class="btn btn-sm btn-default">ID3 Trace</button> -->
                                                <button ui-sref=".viewReport({orderNumber: order.orderId, authNumber: order.authorizationId})"  type="button" class="btn btn-sm btn-default">ID3 Trace</button>

                                              </td>
                                            </tr>


                                    </tbody>
                                  </table>

                                </td>
                              <tr>

                      </tbody>
                    </table>

                </div>

                <div class="panel-footer">
                  <!--
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <pagination  class="pagination-sm" ng-change="orders.navigateToPage()" total-items="orders.pager.totalItems" ng-model="orders.pager.currentPage" items-per-page="orders.pager.itemPerPage" max-size="orders.pager.maxSize" boundary-links="true" rotate="false" num-pages="prescriptions.pager.numPages"></pagination>
                    </div>
                  </div>
                  -->
                </div>

            </div>

        </div>

    </div>

</div>
