<div cg-busy="{promise:users.myPromise, message:''}" class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">

                <!-- <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-1x fa-users"></i> User Management</h3>

                    <button ui-sref=".editUser({userId: 1})"  type="button" class="btn btn-sm btn-success pull-right">Add New User</button>

                </div> -->

                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"><i class="fa fa-1x fa-users"></i> User Management</h3>

                    <button  ui-sref=".editUser({userId: -1})"  type="button" class="pull-right btn btn-sm btn-success">Add New User</button>

                </div>

                <div class="panel-body">

                    <br/>

                    <div ng-if="users.noneFound" class="alert alert-danger" role="alert">
                        <p>No users found.</p>
                    </div>

                    <table ng-if="users.users.length > 0" fixed-table-headers class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>FULL NAME</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                                <th>ROLE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="user in users.users">
                            <td>
                              {{user.firstName}} {{user.lastName}}
                            </td>
                            <td>
                              <span class="label label-primary">{{user.user}}</span>
                              <span ng-if="users.currentUser.username === user.user" class="label label-default">you</span>
                            </td>
                            <td>
                                <a href="mailto:{{user.email}}">{{user.email}}<a/>
                            </td>
                            <td>
                              <span class="label label-default">{{user.role}}</span>
                              <!-- <span class="label label-success">admin</span> -->
                            </td>
                            <td>
                              <button ui-sref=".editUser({userId: 1})"  type="button" class="btn btn-sm btn-primary">Edit</button>
                              <button ng-click="users.deleteUser(1)" type="button" class="btn btn-sm btn-danger">Delete</button>
                            </td>
                          </tr>
                      </tbody>
                    </table>

                </div>

                <div class="panel-footer">
                  <!--
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <pagination  class="pagination-sm" ng-change="users.navigateToPage()" total-items="users.pager.totalItems" ng-model="users.pager.currentPage" items-per-page="users.pager.itemPerPage" max-size="users.pager.maxSize" boundary-links="true" rotate="false" num-pages="prescriptions.pager.numPages"></pagination>
                    </div>
                  </div>
                  -->
                </div>

            </div>

        </div>

    </div>

</div>
